
body{
    text-align:center;
}

.container{
    margin:25px;
    border:1px solid black;
}

/*Posiciones

Static
Es la posición por defecto, todos los elementos HTML son estáticos. Los elementos se posicionan en el flujo normal del documento (arriba, abajo, izquierda, derecha). Los valores top, bottom, right, left no tienen efecto sobre esta propiedad.

*/
/*
.position{
    position:relative; /* Este elemento indica cómo se va a colocar*/
    /*Los valores de abajo indican dónde se va a colocar*/
    /*top:50px; 
    /*left:100px;
    right:50px;
    bottom:60px;*/


/*}*/

/*Relative
Posiciona el elemento en relación con su prosición normal en el flujo de trabajo del documento. A pesar de que el elemento comienza con una posición normal, si le afectan los valores que le modifiquemos en top, bottom, left, right.

*/
/*
.position{
    position:relative;
    left:35px;
}
*/

/*Fixed
Se modifica dependiendo de la posición de la pantalla y depende también de cuánto espacio tenemos disponible (viewport que es lo que el usuario ve actualmente en la pantalla). 

Este estilo se aplica generalmente a barras de navegación. Cuando aplicamos esta propiedad, aseguramos que el elemento se mantenga visible independientemente de como  se ajuste la ventana (viewport). Es similar al absolute, mas no al body.

*/
/*
.position{
    position:fixed;
    left:25px;
    top:50px;
}*/

/*Absolute

Para poder utilizar esta posición, debemos tomar en cuenta también el contexto de nuestro padre(contenedor-padre). Esto quiere decir que todo lo que le pase al padre, se toma como contexto y eso afectará al hijo (margen, padding, etc.). Generalmente se usa para barras de navegación, menus desplegables y animaciones (elementos que se quedarán en un solo lugar respecto al elemento que los contiene).
*/

.container-padre{
    margin:25px;
    padding:25px;
    border: 1px solid black;
}

.position{
    position:absolute;
    top: 50px;
}



/*
span{
    color:blueviolet;
    border: 1px solid red;
}
*/

/* Atributo position

Sirve para poner o acomodar los elementos dentro de nuestro HTML

La propiedad de position de CSS se utiliza para controlar la ubicación y el posicionamiento de un elemento HTML en una página. La propiedad position acepta diferentes valores, cad uno de los cuales determina como se posiciona un elemento en relación con su elemento padreo en relación con la ventana del navegador (el flujo normal de nuestra ventana es a partir de la esquina superior izquierda)

    -static
    -relative
    -absoulute
    -fixed
    -sticky

*/